<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service</title>
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet" />
  <!-- Custom styles for this template -->
  <link href="css/style.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
</head>
<body>
    <section class="service_section layout_padding ">
        <div class="container">
          <h2 class="custom_heading">Our Services</h2>
          <p class="custom_heading-text">
            There are many variety of fruits that we have but the majority are
          </p>
          <div class=" layout_padding2">
            <div class="card-deck">
              <div class="card">
                <!img class="card-img-top" src="images/Rice.png" width="600px" alt="Rice" />
                <img src="images/apple1.jpg" width="352" alt="" class="" />
                <div class="card-body">
                  <h5 class="card-title">Apple</h5>
                  <p class="card-text">
                    The apple is a crunchy, fleshy fruit from the apple tree. Grown in orchads, the apple
                    is one of the most grown tree fruits in the world.Depending on the variety, the skin
                     of ripe apples is generally red, yellow, green, or pink.
                  </p>
                </div>
              </div>
              <div class="card">
                <!--img class="card-img-top" src="images/Wheat.png" width="600px" alt="Wheat" /-->
                <img src="images/kiwi1.jpg" width="350" alt="" class="" />
                <div class="card-body">
                  <h5 class="card-title">Kiwi</h5>
                  <p class="card-text">
                    It has a thin, fuzzy, fibrous, tart but edible light brown skin and light green or 
                    golden flesh with rows of tiny, black, edible seeds. The fruit has a soft texture 
                    with a sweet and unique flavour. 
                  </p>
                </div>
              </div>
              <div class="card">
                <!--img class="card-img-top" src="images/Dal1.png" width="600px"alt="Dal" /-->
                <img src="images/pineapple1.jpg" width="350" alt="" class="" />
                <div class="card-body">
                  <h5 class="card-title">Pineapple</h5>
                  <p class="card-text">
                    A pineapple is a sweet tropical fruit with a tough leathery skin and spiky
                     leaves on top. Pineapple is excellent, whether eaten as a snack, in a sweet 
                     dessert, in savory dishes like fried rice, or even on pizza.

                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--div class="d-flex justify-content-center">
            <a href="" class="custom_dark-btn"-->
              
            </a>
          </div>
        </div>
      </section>


      <section class="info_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <h5>
                Vegetable Vendor
              </h5>
              <ul>
                <li>
                  It consists the details of local
                </li>
                <li>
                  vegetable vendors. You can also view new products , 
                </li>
                <li>
                  
                </li>
                <li>
                  sold products, products in demands in respective shops.
                </li>
                <li>
                  You can place your order in any local vending shop 
                </li>
                <li>
                  and also repeat your order.
                </li>
                <!--<li>
                  a passage of
                </li>
                <li>
                  Lorem Ipsum,
                </li>-->
              </ul>
            </div>
            <div class="col-md-3">
              <h5>
                Services
              </h5>
              <ul>
                <li>
                  It contains the details of 
                </li>
                <li>
                  foodgrains,diary products,
                </li>
                <li>
                  bakery items
                </li>
                <li>
                  and other products.
                </li>
                <li>
                  It gives the information about
                </li>
                <li>
                  different products in various
                </li>
                <li>
                  categories . It also gives
                </li>
                <li>
                  notification of new
                  products in the shops.
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <h5>
                Groceries
              </h5>
              <ul>
                <li>
                  It contains
                </li>
                <li>
                  a list of
                </li>
                <li>
                  available products
                </li>
                <li>
                  such as 
                </li>
                <li>
                  food grains like
                </li>
                <li>
                  rice,dal,pulses,wheat,
                </li>
                <li>
                  dairy products.
                </li>
              </ul>
            </div>
            <div class="col-md-3">
              <div class="social_container">
                <h5>
                  Follow Us
                </h5>
                <div class="social-box">
                  <a href="https://www.instagram.com/accounts/login/">
                    <img src="images/fb.png" alt="">
                  </a>
    
                  <a href="https://twitter.com/i/flow/login">
                    <img src="images/twitter.png" alt="">
                  </a>
                  <a href="https://www.linkedin.com/login">
                    <img src="images/linkedin.png" alt="">
                  </a>
                  <a href="https://www.instagram.com/accounts/login/">
                    <img src="images/instagram.png" alt="">
                  </a>
                </div>
              </div>
              <div class="subscribe_container">
                <h5>
                  Subscribe Now
                </h5>
                <div class="form_container">
                  <form action="">
                    <input type="email">
                    <button type="submit">
                      Subscribe
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
    
    
      <!-- footer section -->
      <section class="container-fluid footer_section">
        <p>
          <!--Copyright &copy; 2019 All Rights Reserved By
          <a href="https://html.design/">Free Html Templates</a>-->
        </p>
      </section>
      <!-- footer section -->
    
      <script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.js"></script>
    
    
</body>
</html>